body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* NAVBAR */
.login-btn {
  color: rgb(111, 102, 239);
  border-color: rgb(111, 102, 239);
}

/* HERO SECTION */
.hero-section {
  padding-top: 120px;
  padding: 100px 0;
  background: linear-gradient(to bottom right, #f6efcd, #b6c6f4);
  /* position: relative; */
}
.hero-content {
  max-width: 900px;
  margin: 0 auto;
}
.no-hover {
  pointer-events: none;
}
.bg-circle {
  position: absolute;
  z-index: 0;
}
.small-circle {
  width: 175px;
  top: 330px;
  left: 245px;
}
.big-circle {
  width: 250px;
  bottom: -40px;
  right: 2500px;
}
.btn-purple {
  color: white;
  background-color: rgb(111, 102, 239);
}
.btn-outline-purple {
  color: rgb(111, 102, 239);
  border-color: rgb(111, 102, 239);
}
/* Keep content above circle */
.hero-section .container {
  position: relative;
  z-index: 2;
}
/* Dashboard Image */
.hero-image {
  max-width: 100%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/* MOST POPULAR TOOLS */
.tool-card {
  border-radius: 10px;
}
.popular-tools {
  background: linear-gradient(to bottom right, #f3eeaa, #afc0f1);
  padding: 140px;
}

/* HOW IT WORKS */
.how-it-works {
  padding: 80px 0;
  position: relative;
}
.how-bg-circle {
  position: absolute;
  width: 230px;
  left: 550px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  opacity: 0.9;
}
/* Keep content above circle */
.how-it-works .container {
  position: relative;
  z-index: 2;
}
.how-editor-img {
  border-radius: 12px;
  max-width: 100%;
}
#seatTable {
  position: relative;
  z-index: 2;
  background: white;
}

/* BOOKING TRENDS */
#bookingChart {
  width: 100%;
  height: 400px;
}
